.hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(8, 0, 58, 0.7), rgba(8, 0, 58, 0.7)), url("../../assets/hero.png");
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    justify-content: center;
    text-align: center;
    padding: 200px;
}

.hero-text h4 {
    font-size: 4.5rem;
    line-height: 1;
}

.hero-text p {
    font-size: 15px;
}

.read-btn {
    background-color: aliceblue;
    color: #333;
    font-size: 18px;
    padding: 2px 15px;
    border-radius: 17px;
    cursor: pointer;
    margin: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.arrow-img {
    width: 30px;
    margin-left: 8px;

}


@media (max-width: 1200px) {
    .hero-text {
        padding: 150px;
    }

    .hero-text h4 {
        font-size: 4rem;
    }
}


@media (max-width: 992px) {
    .hero-text {
        padding: 100px;
    }

    .hero-text h4 {
        font-size: 3.5rem;
    }
}


@media (max-width: 768px) {
    .hero-text {
        padding: 70px;
    }

    .hero-text h4 {
        font-size: 3rem;
    }

    .hero-text p {
        font-size: 20px;
    }
}

@media (max-width: 576px) {
    .hero {
        min-height: 70vh;
    }

    .hero-text {
        padding: 50px;
    }

    .hero-text h4 {
        font-size: 2.5rem;
    }

    .hero-text p {
        font-size: 13px;
    }

    .read-btn {
        font-size: 16px;
        padding: 10px;
        border-radius: 12px;
    }

    .arrow-img {
        width: 20px;
    }
}

@media (max-width: 400px) {
    .hero {
        min-height: 60vh;
    }

    .hero-text {
        padding: 30px;
    }

    .hero-text h4 {
        font-size: 2rem;
    }

    .hero-text p {
        font-size: 12px;
    }

    .read-btn {
        font-size: 14px;
        padding: 8px;
        border-radius: 10px;
    }

    .arrow-img {
        width: 15px;
    }
}