.footer{
    border-top: 1px solid #797979;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer ul li{
    display: inline-block;
    list-style: none;
    margin: 10px;
}

.footer ul li a{
    text-decoration: none;
    color: #000000;
}

@media(max-width: 768px){
    .footer ul li{
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
    }
}