
.slide {
    display: inline;
    justify-content: space-between;
    align-items: center;
    /* margin: 10px; */
    padding: 10px;

}
.info h3, h4{
    display: flex;
}
.user_info img {
    width: 60px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid #030a9c;
}
.slide p {
    width: 320px;
    margin: 0;
    padding: 0;
}
.info h3{
    color: #030a9c;
}
.info h4{
    color: gray;
}
.user_info {
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-container {
    overflow: hidden;
}